.login {
  height: 100vh;
  background-image: url(../images/timg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.login .login-box {
  padding: 10px;
  box-sizing: border-box;
}
.login .left-text {
  display: flex;
}
.login .van-nav-bar {
  background-color: transparent;
}
.login .van-nav-bar__right {
  font-size: 30px;
  background-color: transparent;
}
.login .van-nav-bar .van-icon,
.login .van-field__right-icon .van-icon {
  color: #fff;
}
.login .logo {
  width: 36px;
  height: 36px;
  background-color: #ddd;
  border-radius: 50%;
  margin-top: 5px;
  background-image: url(../images/logo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.login .logo-title {
  font-weight: bold;
  font-size: 22px;
  margin-left: 10px;
  line-height: 46px;
  color: #fff;
}
.login .login-form {
  margin-top: 80px;
  padding: 0 10px;
}
.login .title {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}
.login .en-title {
  color: #fff;
  margin-top: 20px;
  font-size: 18px;
}
.login .login-form-box {
  margin-top: 50px;
}
.login /deep/ .login-form-box .van-cell {
  padding-left: 0;
  padding-right: 0;
  margin: 5px;
  background-color: transparent;
  color: #fff;
  border-bottom: 2px solid white;
}
.login /deep/ .van-cell::after {
  border-bottom: 0px solid transparent;
}
.login .van-field__label {
  color: #f4f4f4;
}
.login .van-field__control {
  color: #000;
}
.login .login-btn {
  margin-top: 40px;
}
.login .forgot {
  margin-top: 2px;
  color: #0C34BA;
  font-weight: bold;
}
.login .van-button--round {
  font-size: 24px;
  font-weight: bold;
}
.login .van-popup--bottom {
  padding: 20px;
  box-sizing: border-box;
}
.login .van-popup--bottom .register_title {
  font-size: 30px;
  font-weight: bold;
}
.login .van-popup--bottom .van-field__control {
  color: #000;
}
.login .van-popup--bottom .van-field__label {
  color: #000;
}
.login .van-popup--bottom .van-field__right-icon .van-icon {
  color: #000;
}
